*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

header {
background-color: skyblue;
height: 100px;
align-items: center;
justify-content: center;
justify-items: center;
align-content: center;
}
header > h1 {
color: white;
}

main{
justify-items: center;
align-content: center;
padding: 200px;
width: 100%;
}